.page{
    background-color: #ffcc80;
}

.header{
    margin-left: 30%;
}

.image{
    width:50%;
    height: 15%;
}

.sidebar{
    float: left;
    width: 20%;
    height: 475px;
    background-color: #ffcc80;
}

.mainContent{
    background-color: #ffcc80;
    height: 475px;
    float: right;
    width: 80%;
}

.subContent{
    border-color: orange;
    border: 1px solid;
    float: right;
}

.footer{
    height: 3%;
    text-align: center;
    color: white;
    background-color: rgb(158, 0, 0);
    clear: both;
}

#usefulLinks{
    margin-left: 10px;
}

#studentinfo{
    width: 65%;
    margin: .5em 0 0.75em; /* .5em top, 0 right and left, .25em bottom */
}

table, th, td {
   border: 1px solid grey;
   padding: 3px;
   text-align: left;
}
